github "rromanchuk/QRCode" "swift2" 
github "rromanchuk/SwiftyJSON" "swift-2.0"
github "Alamofire/Alamofire" 
github "meteochu/HanekeSwift" "swift-2.0"
github "rromanchuk/stripe-ios" "05debf487adeb5685f31a51aaf2f787633f482b1"
